@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --blue: rgb(162, 192, 252);
  }
  

h1, p {
    margin: 0;
    padding: 0;
}

.yellow {
    color: var(--blue);
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0 90px;
    gap: 20px;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.infoContainer {
    width: 50%;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }

.infoContainer span {
    font-size: 18px;
    margin-bottom: 5px;
}

.infoTitle {
    font-size: 40px;
}

.infoJs {
    font-size: 30px;
}

.infoContainer p {
    margin-top: 10px;
    width: 70%;
}

.imgContainer {
    width: 36%;
}

.imgContainer img {
    width: 100%;
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icon {
    font-size: 20px;
    color: var(--blue);
}

.icon:hover {
    color: rgb(255, 255, 255);
}

.valueContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border: 1px solid var(--blue);
    /* box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px; */
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin: 50px 0;
}

.valueContainer h1 {
    text-align: center;
}

.values {
    display: flex;
    justify-content: space-between;
}

.values h2 {
    color: var(--blue);
}

.value {
    background-color: rgb(16, 16, 34);
    width: 25%;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}

.valueTitle {
    margin-bottom: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.projectsHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectsHead h1 {
    font-size: 30px;
}

.projectsHead button {
    padding: 10px 30px;
    font-family: Outfit;
    font-weight: 700;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 3px solid var(--blue);
    border-radius: 50px;
    cursor: pointer;
}

.projectsHead button:hover{
    background-color: rgb(12, 12, 82);
}

.projectsList {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1175px) {
    .infoTitle {
        font-size: 45px;
    }

    .infoJs {
        font-size: 35px;
    }
    
    .infoContainer p {
        margin-top: 10px;
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .infoTitle {
        font-size: 35px;
    }

    .infoJs {
        font-size: 28px;
    }
    
    .infoContainer p {
        font-size: 15px;
        width: 90%;
    }
}

@media (max-width: 800px) {
    .mainContainer {
        flex-direction: column;
        gap: 30px;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .infoContainer p {
        width: 100%;
        font-size: 18px;
    }

    .infoTitle {
        font-size: 50px;
    }

    .infoJs {
        font-size: 40px;
    }

    .imgContainer {
        width: 90%;
    }

    .values {
        flex-direction: column;
        gap: 35px;
    }

    .value {
        width: 100%;
    }

    .projectsHead {
        flex-direction: column;
        gap: 20px;
    }

    .projectsHead button {
        padding: 8px 25px;
        font-family: Outfit;
        font-weight: 700;
        font-size: 20px;
    }

    .projectsList {
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
    }
}

@media (max-width: 500px) {
    .main {
        padding: 0 50px;
    }

    .infoTitle {
        font-size: 35px;
    }

    .infoJs {
        font-size: 28px;
    }
    
    .infoContainer p {
        font-size: 15px;
    }

    .projectsHead h1 {
        font-size: 35px;
    }

    .value h2 {
        font-size: 22px;
        text-align: center;
        margin-top: 20px;
    }

    .value p {
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
    }

    .valueContainer h1 {
        font-size: 28px;
    }
}

