h1,
p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    gap: 15px;
    border-radius: 15px;
}

.lightContainer {
    background-color: rgb(243, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.darkContainer {
    background-color: rgb(24, 24, 46);
}

.container img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: rgba(108, 201, 238, 0.02) 0px 1px 3px 0px, rgba(234, 238, 243, 0.15) 0px 0px 0px 1px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.containerInfo h1 {
    font-size: 20px;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    background-color: transparent;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 10px;
}

.lightTag {
    background-color: rgb(193, 205, 215);
}

.darkTag {
    background-color: rgb(18, 58, 107);
}

@media (max-width: 1175px) {
    .tags {
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 100%;
        gap: 10px;
    }
}