.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 150px;
    padding: 0 60px;
}

.navDesktop {
    display: flex;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 50px;
    gap: 60px;
}

.navDesktop a {
    font-size: 23px;
    padding: 10px 30px;
    font-weight: 600;
}

.active {
    background-color: rgb(171, 148, 192);
    border-radius: 30px;
}

.notActive:hover {
    background-color: rgb(52, 52, 132);
    border-radius: 30px;
}

.logoContainer img {
    width: 150px;
}

.navMobile {
    display: none;
}

@media (max-width: 1024px) {
    .navDesktop {
        padding: 10px 20px;
        gap: 20px;
    }
}


@media (max-width: 800px) {
    .navDesktop {
        display: none;
    }

    .navMobile {
        display: block;
    }
}

