.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    align-items: center;
    height: 150px;
    padding: 0 60px;
}

.navDesktop {
    display: flex;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 50px;
    gap: 60px;
}

.navDesktop a {
    font-size: 23px;
    padding: 10px 30px;
    font-weight: 600;
}

.active {
    background-color: rgb(171, 148, 192);
    border-radius: 30px;
}

.notActive:hover {
    background-color: rgb(52, 52, 132);
    border-radius: 30px;
}

.logoContainer img {
    width: 150px;
}

.navMobile {
    display: none;
}

.navBars {
    display: none;
}

@media (max-width: 1024px) {
    .navDesktop {
        padding: 10px 20px;
        gap: 20px;
    }
}


@media (max-width: 800px) {

    .header {
        padding: 0 10px;
    }

    .navDesktop {
        display: none;
    }

    .navBars {
        display: block;
        margin-right: 30px;
        background-color: transparent;
        border: none;
    }

    .barsIcon {
        color: white;
        font-size: 32px;
        cursor: pointer;
    }

    .barsIcon:hover {
        color: rgb(220, 199, 199);
    }

    .navMobile {
        display: block;
        position: absolute;
        top: 120px;
        z-index: 999;
        background-color: #01010b;
        width: 100%;
        left: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.3),
              0 2px 4px -1px rgba(255, 255, 255, 0.3);
    }

    .mobLinks {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
    }

    .mobLinks a {
        font-size: 20px;
        font-weight: 500;
    }

    .mobLinks a:hover {
        color: rgb(214, 214, 235);
    }
}

