h2 {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0 90px;
    gap: 30px;
    margin-bottom: 100px;
}

.head {
    align-self: center;
    width: 100%;
    position: relative;
}

.head h1 {
    font-size: 50px;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
}

.singleProject {
    width: 30%;
    /* padding: 20px; */
    border-radius: 10px;
    position: relative;
}

.lightSingleProject {
    background-color: rgb(243, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.darkSingleProject {
    background-color: rgb(24, 24, 46);
}

.tag {
    position: absolute;
    font-size: 12px;
    border-radius: 15px;
    padding: 5px 20px;
    left: 15px;
    top: 15px;
}

.lightTag {
    background-color: rgb(40, 33, 33);
    color: white;
}

.darkTag {
    background-color: rgb(16, 16, 50);
    color: white;
}

.singleProject img {
    z-index: 1;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lightTitle {
    color: black;
}

.descBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.lightLink {
    color: black;
    text-decoration: underline;
}

.darkLink {
    text-decoration: underline;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px 20px;
}

.infos h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .projects {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .singleProject {
        width: 100%;
    }

    .infos {
        flex-direction: column;
        margin-top: 0;
    }

    .infos h2 {
        margin-top: 10px;
        font-size: 32px;
    }
}

@media (max-width: 800px) {
    .imgLink {
        width: 100%;
    }

    .singleProject img {
        height: auto;
    }
}

@media (max-width: 500px) {
    .main {
        padding: 0 50px;
    }

    .infos h2 {
        margin-top: 10px;
        font-size: 26px;
    }
}